{% extends "base.html" %}

{% block content %}

<form method="post">
    <label>
        <div> UserName </div>
        <input type="text" name="username" value=""{{username}}"">
    </label>
    <label>
        <div> PassWord </div>
        <input type="password" name="password" value=""{{password}}"">
    </label>
    <div class="error"> {{error}} </div>
    <input type="submit">
</form>
    <label>
        <div> Don't have an account? </div><a href="/signup">Create one! </a>
    </label>



{% endblock %}
